*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */

    }

h1 {
     font-family: "mr-eaves-xl-modern", sans-serif;
     font-weight:800;
     font-style: normal;
    z-index: 1;
      padding: 30px;
      margin-top: 60px;
      text-align:center;
      color: #d2ffc5;
     
    }

body {
    background-color: #7a9b60;
    background-image: url('assets/main-bg.jpg');
    background-size: 130%;
}

@media screen and (max-width: 1200px) {
  body{
   transform-origin: top;
   transform: scale(.7);
   margin:0 auto;
  }
   }

/* the main container */

.front-side,
.back-side {
  display: flex;
  width: 441px;
  height: 254px;
  position: relative;
  /* adjust this to space out the cards */
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 0px 15px 15px 5px #101110;
  background-color:#7a9b60;
}

.back-side
{
  background-image: url(assets/front-bg.jpg);
}

/* .front-side{
} */

.name{
  display: grid;
  position: relative;
  margin-left:30px;
  padding: 10px

}

.secondary{
  display: grid;
  position: relative;
  margin-left:30px;

}

.name-type{
  position: absolute;
  bottom: 40px;
  left: 7%;
  width:85%;
  margin: 0 auto;
}


.icon-container{
  position: absolute;
  bottom: 20px;
  left: 30%;
  width:40%;
  margin: 0 auto;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "a b c";
  grid-gap: 10px;
}


.st1{display:inline;}

svg{
  fill: #262620;
}

#icon-fill{
  fill:none;
}



.svg-interaction:hover{
  fill: #bdbfa3;
  opacity: 100%;
  animation:pulse; 
  animation-duration: 2s;
}

/* new LED code */

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}


body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
}


.card {
  top: 30px;
  width: 440px;
  height: 250px;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  font-family: cursive;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #d7e9c3, #7a9b60 43%, #417932);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(260px) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #d7e9c3, #7a9b60 43%, #417932);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}